<div id="chart"></div>
<div class="playlist-container">
  <mat-checkbox *ngFor="let p of playlistsNames" [(ngModel)]="playlists[p].visible"
                (ngModelChange)="update()">{{p}}</mat-checkbox>
</div>
<div class="season-control-container">
  <button mat-icon-button (click)="previousSeason()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>Season {{selectedSeason}}</span>
  <button mat-icon-button (click)="nextSeason()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
