.chart-and-playlists {
  display: flex;
  width: 100%;
  flex-flow: row;
}

.playlist-container {
  display: flex;
  flex-flow: column;
}

.legend-label {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.legend-color {
  width: 25px;
  height: 25px;
  margin: 5px 10px 5px 5px;
}
