.chart-and-playlists {
  display: flex;
  width: 100%;
  flex-flow: row;
}

.season-control-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.percentile-checkbox {
  padding: 12px 0;
}

.playlist-container {
  margin-top: 12px;
  display: flex;
  flex-flow: column;
}

.legend-label {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.legend-color {
  width: 25px;
  height: 25px;
  margin: 5px 10px 5px 0;
}

.data {
  margin-top: 16px;
  display: block;
}
